.CommentCtn{
    margin: 10px;
    width: 50%;
    background-color:whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 10px;
}

.UserBanner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

